body {
    background-color: #f8f9fa;
}
.navbar-nav .nav-link {
    color: #fff !important;
    font-size: 16px;
    font-family: "Arial", Verdana, Tahoma, sans-serif; /* Replace with your desired font */
    /* Additional font styles if needed */
}

.navbar {
    background-color: #343a40 !important;
}

.navbar-brand {
    font-size: 30px;
}

.navbar-nav .nav-link {
    color: white !important;
    font-size: 18px;
}

/* Custom CSS Styles */
.nav-link {
    /* border: 2px solid #101010; */
    border-radius: 10px;
    /* background-color: #ffc107; */
    padding: 8px 20px;
    margin: 10px;
    transition: background-color 0.3s ease;
}


.nav-link:hover {
    background-color: #e1800a;

    border-radius: 5px 20px 5px 20px;
    color: #fff;
}


.navbar-toggler {
    border: none;
    color: #fff;
}

.form-control {
    border-radius: 8px;
}
/* Custom CSS Styles */
.navbar-brand .hover-effect:hover {
    color: #f27e12;
    background-color: #f5cd67;
    border-radius: 5px 20px 5px 20px;
    padding: 5px 8px 5px 5px;
}

#newsType {
    margin-bottom: 20px;
}

#newsdetails .card {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

#newsdetails .card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#newsdetails .card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

#newsdetails .text-primary {
    color: #007bff;
    font-size: 14px;
    margin-bottom: 5px;
}

#newsdetails .text-muted {
    font-size: 14px;
    margin-bottom: 10px;
}

#newsdetails .btn-dark {
    background-color: #343a40;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

#newsdetails .btn-dark:hover {
    background-color: #23272b;
}

/* Footer Styles */
.mt-5 {
    background-color: #343a40;
    padding: 20px 0;
}

.mt-5 .navbar {
    background-color: transparent !important;
}

.mt-5 .navbar h5 {
    font-size: 20px;
    color: #fff;
}

.mt-5 .container-fluid h6 {
    color: #fff;
    margin-top: 10px;
}
